config THINGSET_PLUS_PLUS
	bool "ThingSet C++"
	select ZCBOR
	select ZCBOR_CANONICAL

if THINGSET_PLUS_PLUS

config THINGSET_PLUS_PLUS_SERVER
	bool "Enable server"
	default false

config THINGSET_PLUS_PLUS_CLIENT
	bool "Enable client"
	default false

config THINGSET_PLUS_PLUS_PROTOCOL_TEXT
	bool "Enable text mode"
	default true

config THINGSET_PLUS_PLUS_ENHANCED_REPORTING
	bool "Enable enhanced reporting"
	default false
	help
		Automatically encode device EUI at start of payload and use a
		dedicated request type (0x1E) to denote this format

config THINGSET_PLUS_PLUS_BACKEND_CAN
	bool "Enable CAN backend"
	default false
	select CAN
	select ISOTP
	select ISOTP_FAST
	select ISOTP_FAST_FIXED_ADDRESSING

if THINGSET_PLUS_PLUS_BACKEND_CAN

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_THREAD_STACK_SIZE
	int "Stack size of subscription thread"
	default 1024

config THINGSET_PLUS_PLUS_CAN_CLIENT_RX_BUFFER_SIZE
	int "Size of receive buffer in client"
	default 1024

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_THREAD_PRIORITY
	int "Priority of subscription thread"
	default 5

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_QUEUE_DEPTH
	int "Number of CAN frames that can be stored in the queue"
	default 12

rsource "../src/can/zephyr/Kconfig"

endif

config THINGSET_PLUS_PLUS_BACKEND_SOCKET
	bool "Enable socket backend"
	default false
	select NETWORKING
	select NET_IPV4
	select NET_TCP
	select NET_SOCKETS

if THINGSET_PLUS_PLUS_BACKEND_SOCKET

config THINGSET_PLUS_PLUS_SOCKET_ACCEPT_THREAD_STACK_SIZE
	int "Accept thread stack size"
	default 1024

config THINGSET_PLUS_PLUS_SOCKET_ACCEPT_THREAD_PRIORITY
	int "Accept thread priority"
	default 3

config THINGSET_PLUS_PLUS_SOCKET_HANDLER_THREAD_STACK_SIZE
	int "Handler thread stack size"
	default 2048

config THINGSET_PLUS_PLUS_SOCKET_HANDLER_THREAD_PRIORITY
	int "Handler thread priority"
	default 2

endif

config THINGSET_PLUS_PLUS_BACKEND_SHELL
	bool "Enable shell backend"
	default false
	select SHELL
	select THINGSET_PLUS_PLUS_PROTOCOL_TEXT

config THINGSET_PLUS_PLUS_EEPROM
	bool "Enable saving to/loading from EEPROM"
	default false
	select EEPROM

if THINGSET_PLUS_PLUS_EEPROM

config THINGSET_PLUS_PLUS_EEPROM_CHUNK_SIZE
	int "Size of chunked writes to/reads from EEPROM"
	default 251

config THINGSET_PLUS_PLUS_EEPROM_ACCESS_ATTEMPTS
	int "Number of times to retry reading from/writing to EEPROM"
	default 3

config THINGSET_PLUS_PLUS_EEPROM_DATA_VERSION
	int "Version number of persisted data"
	range 1 65535
	default 1
	help
	  Increment this if you change the IDs of any persisted objects.

endif

module = THINGSET_PLUS_PLUS
module-str = thingsetplusplus
source "../zephyr/subsys/logging/Kconfig.template.log_config"

endif