config THINGSET_PLUS_PLUS
	bool "ThingSet C++"
	select ZCBOR
	select ZCBOR_CANONICAL

if THINGSET_PLUS_PLUS

config THINGSET_PLUS_PLUS_SERVER
	bool "Enable server"
	default false

config THINGSET_PLUS_PLUS_CLIENT
	bool "Enable client"
	default false

module = THINGSET_PLUS_PLUS
module-str = thingsetplusplus
source "../zephyr/subsys/logging/Kconfig.template.log_config"

rsource "../src/can/zephyr/Kconfig"

endif