config THINGSET_PLUS_PLUS
	bool "ThingSet C++"
	select ZCBOR
	select ZCBOR_CANONICAL

if THINGSET_PLUS_PLUS

config THINGSET_PLUS_PLUS_SERVER
	bool "Enable server"
	default false

config THINGSET_PLUS_PLUS_CLIENT
	bool "Enable client"
	default false

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_THREAD_STACK_SIZE
	int "Stack size of subscription thread"
	default 1024

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_THREAD_PRIORITY
	int "Priority of subscription thread"
	default 5

config THINGSET_PLUS_PLUS_CAN_SUBSCRIPTION_QUEUE_DEPTH
	int "Number of CAN frames that can be stored in the queue"
	default 12

config THINGSET_PLUS_PLUS_BACKEND_CAN
	bool "Enable CAN backend"
	default false

config THINGSET_PLUS_PLUS_BACKEND_SOCKET
	bool "Enable socket backend"
	default false
	select NETWORKING
	select NET_IPV4
	select NET_TCP
	select NET_SOCKETS

config THINGSET_PLUS_PLUS_BACKEND_SHELL
	bool "Enable shell backend"
	default false
	select SHELL

module = THINGSET_PLUS_PLUS
module-str = thingsetplusplus
source "../zephyr/subsys/logging/Kconfig.template.log_config"

rsource "../src/can/zephyr/Kconfig"

endif